<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.arulvakku">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />

    <protected-broadcast android:name="android.intent.action.MEDIA_MOUNTED" />

    <application
        android:name=".app.MyApplication"
        android:allowBackup="false"
        android:configChanges="orientation|screenSize"
        android:requestLegacyExternalStorage="true"
        android:exported="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">
        <activity
            android:name=".app.ui.wayofcross.WayOfCrossActivity"
            android:theme="@style/NoActionBar"></activity>
        <activity android:name=".app.MainActivity" />
        <activity
            android:name=".app.ui.DailyVerseEditActivity"
            android:parentActivityName=".app.ui.home.HomeActivity" />
        <activity android:name=".app.ui.NotificationActivity" />
        <activity
            android:name=".app.ui.LoginActivity"
            android:label="பயனர் பதிவு" />
        <activity android:name=".app.ui.prayer_request.CreatePrayerRequestActivity" />
        <activity android:name=".app.ui.prayer_request.PrayerRequestActivity" />
        <activity android:name=".app.ui.prayer_request.PrayersActivity" />
        <activity
            android:name=".app.ui.bible.SearchVerseActivity"
            android:label="@string/search" />
        <activity
            android:name=".app.ui.bible.BookmarkListActivity"
            android:label="Bookmarks" />
        <activity
            android:name=".app.ui.bible.NotesListActivity"
            android:label="Notes" />
        <activity
            android:name=".app.ui.bible.CreateNotesActivity"
            android:label="Create Notes" />

        <provider
            android:name="com.activeandroid.content.ContentProvider"
            android:authorities="${applicationId}"
            android:enabled="true"
            android:exported="false" />

        <meta-data
            android:name="AA_DB_NAME"
            android:value="Radio.db" />
        <meta-data
            android:name="AA_MODELS"
            android:value="com.arulvakku.ui.model.Station" />

        <activity
            android:name=".app.ui.SplashScreenActivity"
            android:launchMode="singleTop"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>

        <service android:name=".app.radio.services.RadioPlayerService" />

        <receiver android:name=".app.radio.adapter.BroadcastToEventAdapter">
            <intent-filter>

                <!-- user accidentally disconnects headphones -->
                <action android:name="android.media.AUDIO_BECOMING_NOISY" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".app.ui.contact_us.ContactUsActivity"
            android:label="தொடர்புக்கு" />
        <activity
            android:name=".app.ui.radio.RadioActivity"
            android:label="வானொலி" />
        <activity
            android:name=".app.ui.bible.BooksActivity"
            android:label="திருவிவிலியம்"
            android:parentActivityName=".app.ui.home.HomeActivity" />
        <activity
            android:name=".app.ui.bible.VerseActivity"
            android:parentActivityName=".app.ui.bible.BooksActivity" />
        <activity
            android:name=".app.ui.home.HomeActivity"
            android:label="அருள்வாக்கு" />

        <meta-data
            android:name="android.app.searchable"
            android:resource="@xml/searchable" />

        <activity
            android:name=".app.ui.rosary.RosaryActivity"
            android:label="செபமாலை"
            android:parentActivityName=".app.ui.home.HomeActivity" />

        <meta-data
            android:name="firebase_performance_logcat_enabled"
            android:value="false" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="e4460247842a9ea3430b89fab8a05505868e1ef4" />

        <receiver android:name="androidx.media.session.MediaButtonReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".app.receiver.DeviceBootReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".app.receiver.AlarmReceiver" />

        <service android:name=".app.fcm.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!--
 Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher" />
        <!--
 Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimary" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />


        <!--File Provider-->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

    </application>

</manifest>